@import "../../../styles/functions";
@import "../../../styles/mixins";
@import "../../../styles/variables";

.navbar {
  //   border: 1px solid red;
  padding: 2rem 0;
  width: 100vw;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 900;
  // opacity: 0;
  // display: none;

  &.removeNavbar {
    display: none;
  }

  .navbarWrapper {
    padding-left: 5%;
    padding-right: 8%;
    height: 100%;
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navbarLeft {
    // border: 1px solid black;

    .edekeeLogo {
      img {
        width: toRem(50);
        // border: 1px solid red;
      }
    }
  }
  .navbarRight {
    display: flex;
    align-items: center;
    // border: 1px solid white;
    // width: 200px;
    // padding: 4px;
    @include mdMaxBreakPoint {
      display: none;
    }

    &Item {
      font-size: 0.8vw;
      padding: toRem(10) toRem(28);
      cursor: pointer;

      @include xxlMaxBreakPoint {
        font-size: toRem(13);
      }
    }

    .actionButton {
      border: 1px solid $purple;
      border-radius: toRem(30);
      padding: 0;
      width: 9vw;
      // width: toRem(150);
      height: 3vw;
      // height: toRem(50);
      display: flex;
      align-items: center;
      justify-content: center;

      @include lgMaxBreakPoint {
        width: toRem(150);
        height: toRem(50);
      }
    }
  }
}
