.showcase {
  width: 100vw;
  height: 100vh;
  background-image: url("https://firebasestorage.googleapis.com/v0/b/peggs-web.appspot.com/o/pegg.webp?alt=media&token=10c9dea7-efb9-4b18-8510-cc055000e552");
  background-position: center;
  background-size: cover;
}
