@import "./mixins";
@import "./functions";
@import "./typography";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Product Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;

  box-sizing: border-box;
  height: 100vh;
  min-height: 100%;
  color: white;
  background-color: #1f1f1f;
}

a {
  // color: #262626;
  text-decoration: none;
}

ul {
  list-style: none;
}
button {
  border: none;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

#root {
  height: 100%;
}
