@import "../../Styles/mixins";
@import "../../Styles/functions";
@import "../../Styles/variables";
.manufacturers {
  width: 100vw;
  height: 100vh;
  background-color: #1f1f1f;

  &Wrapper {
    // border: 3px solid red;
    height: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;

    @include mdMaxBreakPoint {
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
    }
  }
  .content {
    // border: 3px solid black;
    text-align: right;
    @include mdMaxBreakPoint {
      margin-bottom: 50px;
      text-align: left;
    }
  }
  .phoneImage {
    img {
      width: 300px;
      //   border: 3px solid black;

      @include mdMaxBreakPoint {
        width: 200px;
      }
    }
  }
}
