@import "../../../styles/functions";
@import "../../../styles/mixins";
@import "../../../styles/variables";
.footer {
  width: 100vw;
  height: 100vh;
  background-color: #1f1f1f;
  display: flex;
  align-items: center;
  justify-content: center;

  @include mdMaxBreakPoint {
    height: auto;
    min-height: 100vh;

    padding: 2rem 0;
  }

  .footerWrapper {
    width: 100%;
    height: 100%;
    // height: 450px;
    display: flex;
    // justify-content: ;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
    // border: 1px solid red;
    .footerTop {
      width: 75%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 1;

      .footerTopWrapper {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-between;

        @include mdMaxBreakPoint {
          flex-direction: column;
        }

        // border: 3px solid white;
      }

      @include lgMaxBreakPoint {
        width: 90%;
        // margin-top: 30%;
      }
    }

    .footerBottom {
      width: 90%;
      padding: 10px;
      margin-bottom: 3%;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      font-size: 0.8vw;
      // font-size: toRem(13);

      //   border: 2px solid black;

      @include mdMaxBreakPoint {
      }

      @include lgMaxBreakPoint {
        font-size: toRem(13);
        // border: 2px solid rebeccapurple;

        width: 95%;
      }

      .bottomLeft {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        img {
          width: 150px;
          margin-bottom: 10px;
        }
      }

      .bottomCenter {
        width: 40%;
        display: flex;
        justify-content: center;

        @include mdMaxBreakPoint {
          display: none;
        }

        .terms {
          margin-right: 30px;
          cursor: pointer;
        }
        .privacy {
          cursor: pointer;
        }
      }

      .bottomRight {
        width: 11vw;
        // width: 180px;
        display: flex;
        justify-content: space-around;

        @include xlMaxBreakPoint {
          width: 180px;
        }
        @include mdMaxBreakPoint {
          display: none;
        }
        img {
          width: 1.9vw;
          // width: toRem(30);

          @include lgMaxBreakPoint {
            width: toRem(30);
          }
        }
      }
    }
    @include xlMaxBreakPoint {
      width: 90%;
    }

    .footerLinks {
      // font-size: toRem(17);1.1  2.6
      // line-height: toRem(40);
      font-size: 1.1vw;
      line-height: 2.6vw;
      margin-bottom: 40px;
      .firstLink {
        font-weight: bold;
        // color: black;
        margin-bottom: 15px;
      }

      @include lgMaxBreakPoint {
        font-size: toRem(15);
        line-height: toRem(40);
      }
    }

    .footerLink {
      margin-bottom: 4px;
      font-weight: 200;
      //   color: $text-lighter-dark;
      cursor: pointer;
    }
  }
}
